@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #efefef;
}

body {
  background-color: var(--bg-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.fix-height {
  height: calc(100vh - 150px);
}
/* 
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
